html{
    background-color: rgb(56, 56, 56);
}

.container{
    display: flex;
    margin:10%;
    margin-right: 10%;
}
 .polaroid{
    margin:10px;
    padding:10px;
    background-color: rgb(121, 121, 121);
 }

 .title{
    margin:auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    color:white
 }

 div > p{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    color:white
 }

 .img1{
    transition:opacity 1s
 }

 .img1:hover{
    opacity:0%
 }

 .img2{
    transition:transform 2s
 }

 .img2:hover{
    transform:rotateZ(2160deg)
 }

 .img3{
    transition:transform 2s
 }

 .img3:hover{
    transform: translate(100px)
 }
 
 .img4{
    transition:transform 1s
 }

 .img4:hover{
    transform: skew(70deg)
 }

 .img5{
    transition:transform 2s
 }

 .img5:hover{
    transform: scale(0.3)
 }

 .img6{
    transition: border-radius: 2s
 }

 .img6:hover{
    border-radius: 100px;
 }